@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  /* NOTE: Tailwind와 기본값이 모두 다름 */
  --color-gray-50: #f1f2f4;
  --color-gray-100: #d5d7db;
  --color-gray-200: #9ea3ab;
  --color-gray-300: #7e848f;
  --color-gray-400: #5e6573;
  --color-gray-500: #4b515c;
  --color-gray-600: #383d45;
  --color-gray-700: #26282e;
  --color-black: #090a0c;

  --color-yellow: #fdbe00;
  --color-red: #ee0000;

  --color-violet-50: #f8e8ff;
  --color-violet-400: #cc4bff;
  --color-violet-500: #a900ec;

  --color-red-50: #ffebef;
  --color-red-400: #ff3d67;
  --color-red-500: #ec0033;

  --color-green-50: #eafee9;
  --color-green-400: #09b200;
  --color-green-500: #078d00;

  --color-orange-50: #ffede4;
  --color-orange-400: #ff6713;
  --color-orange-500: #e45100;

  --color-purple-50: #ece3ff;
  --color-purple-400: #905bff;
  --color-purple-500: #7534ff;
}

:root {
  font-family:
    var(--font-pretendard), sans-serif; /* NOTE: NextJS Local Font로 로딩 */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* NOTE: Tailwind 기본 class와의 구분을 위해 `ui-` prefix 사용 */
@utility ui-text-head {
  @apply text-2xl leading-8 font-bold tracking-[-1px];
}

@utility ui-text-head-2 {
  @apply text-xl leading-7 font-bold tracking-[-1px];
}

@utility ui-text-sub-head {
  @apply text-base leading-[22px] font-bold tracking-[-1px];
}

@utility ui-text-sub-head-2 {
  @apply text-sm leading-5 font-semibold tracking-[-1px];
}

@utility ui-text-sub-head-3 {
  @apply text-xs leading-[18px] font-semibold tracking-[-1px];
}

@utility ui-text-body {
  @apply text-base leading-[22px] font-medium tracking-[-1px];
}

@utility ui-text-body-2 {
  @apply text-sm leading-5 font-medium tracking-[-1px];
}

@utility ui-text-body-2-long {
  @apply text-sm leading-6 font-normal tracking-[-1px];
}

@utility ui-text-caption {
  @apply text-xs leading-[18px] font-normal tracking-[-1px];
}

@utility ui-text-color-sub {
  @apply text-gray-700;
}

@utility ui-text-color-info {
  @apply text-gray-400;
}

@utility ui-text-color-disabled {
  @apply text-gray-200;
}

@utility ui-text-color-error {
  @apply text-red-500;
}

@utility ui-border-divider {
  @apply border border-gray-50;
}

@utility ui-border-basic {
  @apply border border-gray-100;
}

@utility ui-border-active {
  @apply border border-gray-700;
}

@utility ui-border-error {
  @apply border border-red-500;
}

@utility ui-bg-mark {
  @apply bg-yellow;
}

/* 이하 shadcn 설정 */
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;

    /* 스크롤바 숨기기 */
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */
  }

  *::-webkit-scrollbar {
    display: none;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* 축제 마커 스타일 */
.festival-marker {
  transition: all 0.3s ease;
}

.festival-marker:hover {
  transform: scale(1.05);
  z-index: 1000;
}
